*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header img{
    width:200px;
    margin-left: 105px;
}
.header{
    width:1200px;
    background-color: #1F2937;
    margin:auto;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap:12px;
    margin: 0;
    padding: 0;
}

a{
    margin-right:40px;
    padding-top:50px;
    text-decoration: none;
    color: #F9FAF8;
    font-size:24px;
}

.hero{
    width:1200px;
    background-color: #1F2937;
    margin:auto;
    display:flex;
    /* justify-content: space-between; */
    flex-direction: row;
}

.hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 120px;
    margin-top: 110px;
    margin-bottom: 0;
}

.hero p{
    color: #E5E7EB;
    font-size: 18px;
    margin-left: -290px;
    margin-top:230px;
}

.hero button{
    width:130px;
    height:40px;
    margin-top:300px;
    margin-left: -440px;
    background-color: #3882F6;
    border-radius: 10px;
    margin-bottom: 60px;;
}

.hero img{
    width:400px;
    height:200px;
    margin-left: 400px;
    margin-top:100px;
}

.tbs_info{
    width:1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:20px;
    margin:auto;
}

.heading{
    font-size:36px;
    color:#1F2937;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* margin-left:60px; */
}

.tbs_info .tab1 img{
    width:200px;
    border:solid 2px blue;
    border-radius: 10px;
    margin-top:30px;
}

.tab2 img{
    width:220px;
    border:solid 2px blue;
    border-radius: 10px;
    height:auto;
    margin-top:30px;
}

.tab3 img{
    width:200px;
    border:solid 2px blue;
    border-radius: 10px;
    margin-top:30px;
}

.tab4 img{
    width:200px;
    border:solid 2px blue;
    border-radius: 10px;
    margin-top:30px;
}

.quote{
    background-color: #E5E7EB;
    height:200px;
    width:1200px;
    margin:auto;
}
.quote p{ 
    text-align: center;
    margin-top:50px;
    padding-top: 90px;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937
}

.footer{
    width:1000px;
    margin: auto;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top:40px;
    height:100px;
    margin-bottom:40px;
}

.footer h3{
    margin-left:150px;
    padding-top:30px;
}

.footer button{
    background-color: transparent;
    width: 100px;
    height:30px;
    border:2px solid white;
    border-radius:10px;
    margin-top:40px;
    margin-right: 100px;
}